 body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
 }

 .nav-margin{
    margin-left: 5%;
    padding-left: 2%;
 }
 .nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
 }
 .nav-item{
     float: right;
   
     
 }
 .nav-link{
    display: block;
    padding: 8px;
    color: black;
    font-size: 20px;
    text-decoration: none;
 
 }
 h1{
     font-size: 40px;
     height: 10px;   
 }

 h2{
     font-size: 40px;
     text-align: center;
 }
 h3{
   font-size: 20px;
   color: #363958;
   height: 10px;
 }

 p{
    font-family: 'Poppins', sans-serif;
    color: gray;
    padding: 20px 10px;
    font-size: 12px;
    text-align: justify;
 }
 .orange-highlight{
     color: #FF8367;
 }
 
 .half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
   
}
.half-width img{
 width: 100%;
}
section{
    height: 500px;
    padding-bottom:150px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;  
}
.button-two{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 12px 30px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin: 4px 2px;
}

.one-packet{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 60%;
    width: 20%;
    margin: 4%;
    padding:2%;
    background-color:white;
    display: inline-block;
}

.background-img{
     background-image: url(image/Group_33094_1.png);
     background-size: cover;
     width: 50%;
     height: 30%;
     margin: 28%;
     position: relative;
     
  }
.back-img{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;

    
}
.back-text{
     color:white;
     font-size: 50px;
     position: absolute;
     text-align: left;
     padding-bottom: 10px;
     position: absolute;    
}



.footer-h3{
text-align: center;
color: gray;
width: 35%;
padding: 14%;
margin: 20%;
}
.footer-h2{
font-size: 30px;
width: 50%;
height: 30%;
margin: 28%;

}
    
   

